body {
  padding: 0px;
  margin: 0;

  background-color: #34495e;
  font-family: "Lato", sans-serif;
  color: rgb(226, 226, 226);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
